$HeaderBgColor:#fee3c3;
$HeaderNavColor: #0000ff;
$BannerSymbolColor:#ffffff;
$BannerBg1Color:#892be1;
$BannerBg2Color:#7d04d9;
$FooterBgColor:#deb887;
$MainBgColor:#f8f8f8;
$CardBgColor:#fff;
$CardBorderColor:#cecece;

