.header{background-color: grey;
    grid-column: 1/5
}
.sidebar{background-color: rgba(18, 18, 18, 0.868);
    grid-column: 1/2;
    color: white;
    
}
.content{background-color: rgba(18, 18, 18, 0.868);
    color: white;
    grid-column: 2/4
}
.sidebar2{background-color: grey;
    grid-column: 4/5
}
.footer{background-color: grey;
    grid-column: 1/5
}

.container{display: grid;
    grid-template: repeat(5,150px) / repeat(5,1fr);
    grid-gap: 10px;}